{% extends 'base.html' %}

{% block content %}

    <div class='container'>

        <div class='row-fluid'>
            <div class='home-carosel-container'>
                <div class='span7'>
                    <div class='hero-unit no-background'>
                        <h1>Test Socket.IO</h1>
                    </div>
                </div>
                <div class='span5'>
                    <div class='main-icon'>
                    </div>
                </div>
            </div>
        </div>
        <div class='row-fluid'>
            <div class='home-three-panel-container'>
                <div class='span4'>
                    <div class='well'>
                        <h3>
                            Player Information
                        </h3>
                        <hr>
                        <p><b>Name:</b> {{ user.name }}</p>
                        <p>
                            <img src="{{ user.photo_link }}" />
                        </p>
                    </div>
                </div>
                <div class='span4'>
                    <div class='well'>
                        <h3>
                            Game Information
                        </h3>
                        <hr>
                        <p>
                            {{ players }} are currently waiting to buzz.
                        </p>
                    </div>
                </div>
                <div class='span4'>
                    <div class='well'>
                        <h3>
                            Buzz!
                        </h3>
                        <hr>
                        <p>
                            <a id="test-socket" href="#" class="btn btn-primary">Buzz In</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}


{% block script %}

    <script>
    $(document).ready(function(){

        var socket = io.connect();

        $("#test-socket").click(function(){
            socket.emit('message', "test message");
        });

    });

    </script>

{% endblock %}