{% extends 'base.html' %}

{% block content %}

    <div class='container'>

        <div class='row-fluid'>
            <div class='span4'>
                <div class='well'>
                    <h3>
                        Player Information
                    </h3>
                    <hr>
                    <p style="text-align: center;">
                        <img src="{{ user.photo_link }}" height="250" width="250" style="margin-bottom: 10px;"/>
                    </p>
                    <p><b>Name:</b> {{ user.name }}</p>
                    <p><b>Email:</b> {{ user.email }}</p>

                </div>
            </div>
            <div class="span8">
                <div class='row-fluid'>
                    <div class='span12'>
                        <div class='well'>
                            <h3>
                                Buzz!
                            </h3>
                            <hr>
                            <p>
                                <a id="buzz-in" href="#" class="btn btn-wf btn-block btn-large">Buzz In</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class='row-fluid'>
                    <div class='span12'>
                        {% include "buzz_results.html" %}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}


{% block script %}

    <script>
    var usernames_buzzed = [];
    var buzz_position = 1;
    var buzz_enabled = false;

    $(document).ready(function(){

        var socket = io.connect();
        var username = '{{ user.email }}';
        var player_name = '{{ user.name }}';
        var photo_link = '{{ user.photo_link }}';

        $("#buzz-in").click(function(){
            socket.emit('buzz', JSON.stringify({username: username, photo_link: photo_link, player_name: player_name}));
        });

        socket.on('buzzing_enabled', function(msg){
            if(!buzz_enabled){
                console.log("buzzing enabled");
                buzz_enabled = true;
                $("#players_buzzed").append('<p><img src="/static/img/survivor_intern.png" height="40" width="40" /><b> Buzzing Enabled</b></p>');
            }
        });

        socket.on('player_buzz', function(data){
            var user_info = JSON.parse(data);
            var username = user_info.username;
            if(usernames_buzzed.indexOf(username) < 0){
                usernames_buzzed.push(username);
                $("#players_buzzed").append('<p><img src="' + user_info.photo_link + '" height="50" width="50" /> <span class="playername"> ' + user_info.player_name + ' </span>buzzed! </p>' );

            }
        });

        socket.on('reset', function(){
            buzz_enabled = false;
            usernames_buzzed = [];
            buzz_position = 1;
            $("#players_buzzed").html('');
        });

    });

    $(document).on('keydown', function(event){
        if(event.which == 66){
            $("#buzz-in").trigger('click');
        }
    });

    </script>

{% endblock %}