{% extends 'base.html' %}

{% block content %}

    <div class='container'>

        <div class='row-fluid'>
            <div class='container'>
                <div class='span12'>
                    <div class='hero-unit no-background' style="text-align: center;">
                        <img src="/static/img/Wfeud.png"/>
                        <p style="margin-top: 10px;">
                            <a class="btn btn-wf btn-large home-track-btn" href="{{ url_for('buzz') }}">Join Game</a>
                            <a class="btn btn-wf btn-large home-track-btn" href="{{ url_for('status') }}">Live Buzz-in Status</a>
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}