{% extends 'base.html' %}

{% block content %}

    <div class='container'>

        <div class='row-fluid'>
            <div class='span3'>
                <div class="well">
                    <h3>
                        Game Controls
                    </h3>
                    <hr>
                    <p>
                        Press 'e' to enable buzz and 'r' to reset, or click the buttons.
                    </p>
                    <p>
                        <a id="enable_buzz" href="#" class="btn btn-primary">Enable Buzz</a>
                        <a id="reset_game" href="#" class="btn btn-inverse">Reset</a>
                    </p>
                </div>
            </div>
            <div class='span9'>
                {% include "buzz_results.html" %}
            </div>
        </div>

{% endblock %}


{% block script %}

    <script>
    var usernames_buzzed = [];
    var buzz_position = 1;
    var buzz_enabled = false;

    $(document).ready(function(){

        var socket = io.connect();

        $("#enable_buzz").click(function(){
            socket.emit('enable buzz', "buzzing enabled");
        });

        $("#reset_game").click(function(){
            socket.emit('reset');
        });

        socket.on('buzzing_enabled', function(msg){
            if(!buzz_enabled){
                console.log("buzzing enabled");
                buzz_enabled = true;
                $("#players_buzzed").append('<p><img src="/static/img/survivor_intern.png" height="50" width="50" /><b> Buzzing Enabled</b></p>');
            }
        });

        socket.on('player_buzz', function(data){
            var user_info = JSON.parse(data);
            var username = user_info.username;
            if(usernames_buzzed.indexOf(username) < 0){
                usernames_buzzed.push(username);
                $("#players_buzzed").append('<p><img src="' + user_info.photo_link + '" height="50" width="50" /> <span class="playername"> ' + user_info.player_name + ' </span>buzzed! </p>' );

            }
        });

        socket.on('reset', function(){
            buzz_enabled = false;
            usernames_buzzed = [];
            buzz_position = 1;
            $("#players_buzzed").html('');
        });

    });

    $(document).on('keydown', function(event){
        if(event.which == 69){
            $("#enable_buzz").trigger('click');
        }
        if(event.which == 82){
            $("#reset_game").trigger('click');
        }
    });

    </script>

{% endblock %}