{% extends 'base.html' %}

{% block content %}

    <div class='container'>

        <div class='row-fluid'>
            <div class='span3'>
                <div class="well">
                    <h3>
                        Game Information
                    </h3>
                    <hr>
                    <p>
                        {{ players }} are currently waiting to buzz.
                    </p>
                    <p>
                        <a id="enable_buzz" href="#" class="btn btn-primary">Enable Buzz</a>
                    </p>
                    <p>
                        <a id="reset_game" href="#" class="btn btn-inverse">Reset</a>
                    </p>
                </div>
            </div>
            <div class='span9'>
                {% include "buzz_results.html" %}
            </div>
        </div>

{% endblock %}


{% block script %}

    <script>
    var usernames_buzzed = [];
    var buzz_position = 1;
    var buzz_enabled = false;

    $(document).ready(function(){

        var socket = io.connect();

        $("#enable_buzz").click(function(){
            socket.emit('enable buzz', "buzzing enabled");
        });

        $("#reset_game").click(function(){
            socket.emit('reset');
        });

        socket.on('buzzing_enabled', function(msg){
            if(!buzz_enabled){
                console.log("buzzing enabled");
                buzz_enabled = true;
                $("#players_buzzed").append('<p><b>BUZZING ENABLED</b></p><hr>');
            }
        });

        socket.on('player_buzz', function(data){
            var user_info = JSON.parse(data);
            var username = user_info.username;
            if(usernames_buzzed.indexOf(username) < 0){
                usernames_buzzed.push(username);
                $("#players_buzzed").append('<p><img src="' + user_info.photo_link + '" height="40" width="40" /><b> Buzz!</b> ' + user_info.player_name + '</p>' );

            }
        });

        socket.on('reset', function(){
            buzz_enabled = false;
            usernames_buzzed = [];
            buzz_position = 1;
            $("#players_buzzed").html('');
        });

    });

    </script>

{% endblock %}